{% extends "registration/base_recover.html" %}

{% block title %}Correo Enviado{% endblock %}

{% block main_content %}
<div class="card login-card p-4 shadow-lg border-0">
    <div class="card-body">
        <h2 class="card-title text-center main-text-color mb-4">Correo de Recuperación Enviado</h2>
        <p class="secondary-text-color text-center">
            Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña.
        </p>
        <p class="secondary-text-color text-center">
            Si el correo no te llega en unos minutos, revisa tu carpeta de spam.
        </p>
    </div>
</div>
{% endblock %}