{% extends "registration/base_recover.html" %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block main_content %}
<div class="card login-card p-4 shadow-lg border-0">
    <div class="card-body">
        <h2 class="card-title text-center main-text-color mb-4">Recuperar Contraseña</h2>
        <p class="secondary-text-color text-center">Introduce tu correo electrónico para recibir un enlace de recuperación.</p>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3 d-flex flex-column align-items-center">
                <label for="{{ form.email.id_for_label }}" class="form-label secondary-text-color">Correo Electrónico</label>
                {{ form.email }}
            </div>
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary-main">Enviar Enlace</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}