{% extends "registration/base_recover.html" %}

{% block title %}Cambio Completado{% endblock %}

{% block main_content %}
<div class="card login-card p-4 shadow-lg border-0">
    <div class="card-body">
        <h2 class="card-title text-center main-text-color mb-4">Contraseña Cambiada Correctamente</h2>
        <p class="secondary-text-color text-center">
            Tu contraseña ha sido restablecida con éxito. Ahora puedes iniciar sesión con tu nueva contraseña.
        </p>
        <div class="d-grid gap-2 mt-4">
            <a href="{% url 'login' %}" class="btn btn-primary-main">Ir a Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock %}